<nav class="navbar bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Navbar</span>
  </div>
</nav>
<div class="container">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Filtros
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body row" *ngIf="showForm">
          <div class="col-6">
            <select class="form-select" (change)="pickDate($event.target.value)" name="season" aria-label="Default select example">
              <option selected>Season</option>
              <option *ngFor="let item of seasons" [value]="item.season">{{item.season}}</option>
            </select>
          </div>
          <div class="col-6">
            <select *ngIf="races !== undefined" class="form-select" name="circuits" (change)="getPilots($event.target.value)" aria-label="Default select example">
              <option selected>Circuits</option>
              <option *ngFor="let item of races" [value]="item.round">{{item.raceName + " " + item.date}}</option>
            </select>
          </div>
          <!-- <div class="col-6">3</div>
          <div class="col-6">4</div> -->
        </div>
      </div>
    </div>
  </div>
  <app-fit-chart *ngIf="showChart" [pilots] = "pilots" [pilotTimings]="pilotsTiming"></app-fit-chart>
</div>
<router-outlet></router-outlet>

